    {% load static %}
    <script src="/static/assets/js/external/jquery/jquery.js"></script>
    <script src="/static/assets/js/external/jquery/jquery-ui.js"></script>
    <script src="/static/assets/js/vendor-all.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap.min.js"></script>
<!--    <script src="/static/assets/js/plugins/jquery-ui.min.js"></script>-->
<!--    <script src="/static/assets/js/pcoded.min.js"></script>-->
    <script src="/static/assets/js/pcoded.js"></script>
    <script>
        $(window).ready(function() {
        $("form").on("keypress", function (event) {
            console.log("form enter button dissabeld");
            var keyPressed = event.keyCode || event.which;
            if (keyPressed === 13) {
                event.preventDefault();
                return false;
            }
        });
        });
    </script>