
<div class="modal fade" id="{{modal_id}}" tabindex="-1" role="dialog" aria-labelledby="example{{modal_id}}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="example{{modal_id}}">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

           <div class="input-container">
                <form method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="form-group ">
                        {{file_form}}
                        {{status_form}}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" name="{{modal_id}}" value="UPLOAD" />
                    </div>
                </form>
         </div>
      </div>
    </div>
  </div>
</div>


