{% extends "layouts/base.html" %}

{% block title %}Super Bonus Form{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
{% load my_tags %}
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container ml-auto">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Requisiti bancari</h5>
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}

                                    <a href="{% url 'bonus-preview' id=id %}">
                                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                         <span aria-hidden="true">&times;</span>
                                    </button>
                                    </a>
                                </div>
                                {%endfor%}
                            {% endif %}
                            </div>
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home'%}"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item " aria-current="page" ><a class="breadcrumb-item " href="{% url 'bonus-app-view' %}">Superbonus</a></li>
                                    <li class="breadcrumb-item " aria-current="page" ><a class="breadcrumb-item " href="{% url 'bonus-preview' id=id%}">ANTEPRIMA</a></li>
                                    <li class="breadcrumb-item active" aria-current="page" ><a class="breadcrumb-item active" href="">MPS</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="page-body">
                <div class="row">
                    <div class="col-3 list-scroll">

                            <ul class="nav flex-column nav-pills mb-3  " id="pills-tab" role="tablist">

                               <li  class="nav-item col " type="button" data-toggle="collapse" data-target="#collapse1-1" aria-expanded="false" aria-controls="collapse1-1">

                                    <a class="nav-link active"  id="pills-1-1-tab" data-toggle="pill" href="#pills-1-1" role="tab" aria-controls="pills-1-1" aria-selected="true">1.1 - Documenti identità <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <div class="collapse" id="collapse1-1" >
                                        <ul >

                                            <li {% get_status_all field="admin_id" bank_req_id=bank_req.id %}>Carta identità</li>

                                            <li {% get_status_all field="admin_hi" bank_req_id=bank_req.id %}>Tessera sanitaria</li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="nav-item col" type="button" data-toggle="collapse" data-target="#collapse1-2" aria-expanded="false" aria-controls="collapse1-2">
                                     <a class="nav-link " id="pills-1-2-tab" data-toggle="pill" href="#pills-1-2" role="tab" aria-controls="pills-1-2" aria-selected="true">1.2 - Regolamento condominiale + certificato codice fiscale condominio <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                     <div class="collapse" id="collapse1-2" >
                                        <ul >
                                            <li {% get_status_all field="cond_reg" bank_req_id=bank_req.id %} >Regolamento condominiale</li>
                                            <li {% get_status_all field="cond_tax" bank_req_id=bank_req.id %}>Certificato codice fiscale Condominio</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item col ">
                                     <a {% get_status file_id=bank_req.cat_plan %}  id="pills-1-3-tab" data-toggle="pill" href="#pills-1-3" role="tab" aria-controls="pills-1-3" aria-selected="true">1.3 - Visure catastali</a>
                                </li>
                                <li class="nav-item col ">
                                     <a {% get_status file_id=bank_req.thousand_table %} id="pills-1-4-tab" data-toggle="pill" href="#pills-1-4" role="tab" aria-controls="pills-1-4" aria-selected="true">1.4 - Tabella millesimi</a>
                                </li>
                                <li class="nav-item col">
                                     <a {% get_status file_id=bank_req.cond_registry %} id="pills-1-5-tab" data-toggle="pill" href="#pills-1-5" role="tab" aria-controls="pills-1-5" aria-selected="true">1.5 - Registro anagrafe condominiale</a>
                                </li>
                                <li class="nav-item col " type="button" data-toggle="collapse" data-target="#collapse1-6" aria-expanded="false" aria-controls="collapse1-6">
                                     <a class="nav-link " id="pills-1-6-tab" data-toggle="pill" href="#pills-1-6" role="tab" aria-controls="pills-1-6" aria-selected="true">1.6 - Dichiarazione sostitutiva atto notorietà - AMMINISTRATORE <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        <div class="collapse" id="collapse1-6" >
                                            <ul >
                                                <li {% get_status file_id=bank_req.notary_act_a %}>Atto notorio (Format A1a)</li>
                                                <li {% get_status file_id=bank_req.app_of_idadmin %}>Atto di nomina amministratore</li>
                                                <li {% get_status_all field="admin_hi" bank_req_id=bank_req.id %}>Documenti identità amministratore (1.1)</li>
                                                <li {% get_status_all field="cond_tax" bank_req_id=bank_req.id %}>Tabella millesimi (1.4)</li>
                                            </ul>
                                        </div>
                                </li>
                                <li class="nav-item col"  type="button" data-toggle="collapse" data-target="#collapse1-7" aria-expanded="false" aria-controls="collapse1-7">
                                     <a class="nav-link " id="pills-1-7-tab" data-toggle="pill" href="#pills-1-7" role="tab" aria-controls="pills-1-7" aria-selected="true">1.7 - Dichiarazione sostitutiva atto notorietà - CONDOMINI <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        <div class="collapse" id="collapse1-7" >
                                            <ul >
                                                <li {% get_status file_id=bank_req.notary_act_b %}>Atto notorio (Format A1b)</li>
                                                <li {% get_status file_id=bank_req.id_card_condo %}>Carta d'identità Condomino</li>
                                                <li {% get_status file_id=bank_req.hic_condo %}>Tessera sanitaria Condomino</li>
                                                <li {% get_status file_id=bank_req.leg_title_proc %}>Titolo giuridico detenzione (per casi diversi da proprietà o diritto reale di godimento) (1.10-1.11-1.12-1.13)</li>
                                                <li {% get_status file_id=bank_req.leg_title_proc %}>Consenso esecuzione lavori da parte del proprietario (Locazione/Comodato) (1.10))</li>
                                                <li {% get_status file_id=bank_req.cat_plan %}>Visura catastale unità immobiliare (1.3)</li>
                                            </ul>
                                        </div>
                                </li>
                                <li class="nav-item col">
                                     <a {% get_status file_id=bank_req.deed_of_owner_purch %} id="pills-1-8-tab" data-toggle="pill" href="#pills-1-8" role="tab" aria-controls="pills-1-8" aria-selected="true">1.8 - Atto proprietà/compravendita (se Proprietario/Nudo Proprietario)</a>
                                </li>
                                <li class="nav-item col">
                                     <a {% get_status file_id=bank_req.cert_poss_real_right_enjoy %} id="pills-1-9-tab" data-toggle="pill" href="#pills-1-9" role="tab" aria-controls="pills-1-9" aria-selected="true">1.9 - Certificato detenzione diritto reale di godimento (es. Usufrutto)</a>

                                </li>
                                <li class="nav-item col"  type="button" data-toggle="collapse" data-target="#collapse1-10" aria-expanded="false" aria-controls="collapse1-10">
                                     <a class="nav-link " id="pills-1-10-tab" data-toggle="pill" href="#pills-1-10" role="tab" aria-controls="pills-1-10" aria-selected="true">1.10 - Per soggetti con diritti personali di godimento (es. Locazione/Comodato) <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                           <div class="collapse" id="collapse1-10" >
                                            <ul >
                                                <li {% get_status file_id=bank_req.declaration_con_owner %}>Dichiarazione consenso da parte del proprietario</li>
                                                <li {% get_status file_id=bank_req.contract_cert_cor_reg %}>Contratto certificante la corretta registrazione</li>
                                            </ul>
                                        </div>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-11-tab" data-toggle="pill" href="#pills-1-11" role="tab" aria-controls="pills-1-11" aria-selected="true">1.11</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-12-tab" data-toggle="pill" href="#pills-1-12" role="tab" aria-controls="pills-1-12" aria-selected="true">1.12</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-13-tab" data-toggle="pill" href="#pills-1-13" role="tab" aria-controls="pills-1-13" aria-selected="true">1.13</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-14-tab" data-toggle="pill" href="#pills-1-14" role="tab" aria-controls="pills-1-14" aria-selected="true">1.14</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-15-tab" data-toggle="pill" href="#pills-1-15" role="tab" aria-controls="pills-1-15" aria-selected="true">1.15</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-16-tab" data-toggle="pill" href="#pills-1-16" role="tab" aria-controls="pills-1-16" aria-selected="true">1.16</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-17-tab" data-toggle="pill" href="#pills-1-17" role="tab" aria-controls="pills-1-17" aria-selected="true">1.17</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-18-tab" data-toggle="pill" href="#pills-1-18" role="tab" aria-controls="pills-1-18" aria-selected="true">1.18</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-19-tab" data-toggle="pill" href="#pills-1-19" role="tab" aria-controls="pills-1-19" aria-selected="true">1.19</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-20-tab" data-toggle="pill" href="#pills-1-20" role="tab" aria-controls="pills-1-20" aria-selected="true">1.20</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-21-tab" data-toggle="pill" href="#pills-1-21" role="tab" aria-controls="pills-1-21" aria-selected="true">1.21</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-22-tab" data-toggle="pill" href="#pills-1-22" role="tab" aria-controls="pills-1-22" aria-selected="true">1.22</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-23-tab" data-toggle="pill" href="#pills-1-23" role="tab" aria-controls="pills-1-23" aria-selected="true">1.23</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-1-24-tab" data-toggle="pill" href="#pills-1-24" role="tab" aria-controls="pills-1-24" aria-selected="true">1.24</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-2-1-tab" data-toggle="pill" href="#pills-2-1" role="tab" aria-controls="pills-2-1" aria-selected="true">2.1</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-2-2-tab" data-toggle="pill" href="#pills-2-2" role="tab" aria-controls="pills-2-2" aria-selected="true">2.2</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-3-1-tab" data-toggle="pill" href="#pills-3-1" role="tab" aria-controls="pills-3-1" aria-selected="true">3.1</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-3-2-tab" data-toggle="pill" href="#pills-3-2" role="tab" aria-controls="pills-3-2" aria-selected="true">3.2</a>
                                </li>
                                <li class="nav-item col">
                                     <a class="nav-link " id="pills-3-3-tab" data-toggle="pill" href="#pills-3-3" role="tab" aria-controls="pills-3-3" aria-selected="true">3.3</a>
                                </li>

                            </ul>

                    </div>

                    <div class="col-9">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-1-1" role="tabpanel" aria-labelledby="pills-1-1-tab">
                                <!-- Button trigger modal -->

                                <h4 class="m-3">Carta identità</h4>
                                {%if not bank_req.admin_id.all %}
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-10">
                                        <div class="card border-success mb-3">
                                            <form method="POST" enctype="multipart/form-data" >
                                            {% csrf_token %}
                                            <div class="card-header bg-transparent border-success ">
                                                {{file_form}}
                                            </div>
                                            <div class="card-body ">
                                                {{status_form}}
                                            </div>
                                            <div class="card-footer bg-transparent border-success">
                                                <input type="submit" name="admin_id" value="Caricamento" />
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                {% else %}
                                <div class="row">
                                    {%if bank_req.admin_id.all|length > 2 %}
                                            {% file_table  bonus_id=id modal_target='admin_id' %}
                                    {%else%}
                                    {%for file in bank_req.admin_id.all %}
                                            {% edit_task  file_id=file.id bonus_id=id modal_target='admin_id' %}
                                    {%endfor%}
                                    {%endif%}

                                    {% file_modal modal_id='admin_id' %}
                                </div>
                                {%endif%}


                                <h4 class="m-3">Tessera sanitaria</h4>
                                {%if not bank_req.admin_hi.all %}
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-10">
                                        <div class="card border-success mb-3">
                                            <form method="POST" enctype="multipart/form-data" >
                                            {% csrf_token %}
                                            <div class="card-header bg-transparent border-success ">
                                                {{file_form}}
                                            </div>
                                            <div class="card-body ">
                                                {{status_form}}
                                            </div>
                                            <div class="card-footer bg-transparent border-success">
                                                <input type="submit" name="admin_hi" value="Caricamento" />
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                {% else %}

                                <div class="row">
                                    {%if bank_req.admin_hi.all|length > 2 %}
                                            {% file_table  bonus_id=id modal_target='admin_hi' %}
                                    {%else%}
                                    {%for file in bank_req.admin_hi.all %}
                                            {% edit_task  file_id=file.id bonus_id=id modal_target='admin_hi' %}
                                    {%endfor%}
                                    {%endif%}

                                    {% file_modal modal_id='admin_hi' %}
                                </div>

                                {%endif%}

                            </div>
                            <div class="tab-pane fade" id="pills-1-2" role="tabpanel" aria-labelledby="pills-1-2-tab">
                                <h4 class="m-3">Regolamento condominiale</h4>
                                {%if not bank_req.cond_reg.all %}
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-10">
                                        <div class="card border-success mb-3">
                                            <form method="POST" enctype="multipart/form-data" >
                                            {% csrf_token %}
                                            <div class="card-header bg-transparent border-success ">
                                                {{file_form}}
                                            </div>
                                            <div class="card-body ">
                                                {{status_form}}
                                            </div>
                                            <div class="card-footer bg-transparent border-success">
                                                <input type="submit" name="cond_reg" value="Caricamento" />
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row">
                                    {%if bank_req.cond_reg.all|length > 2 %}
                                            {% file_table  bonus_id=id modal_target='cond_reg' %}
                                    {%else%}
                                    {%for file in bank_req.cond_reg.all %}
                                            {% edit_task  file_id=file.id bonus_id=id modal_target='cond_reg' %}
                                    {%endfor%}
                                    {%endif%}
                                    {% file_modal modal_id='cond_reg' %}
                                </div>

                                {%endif%}

                                <h4>Certificato codice fiscale Condominio</h4>
                                {%if not bank_req.cond_tax.all %}
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-10">
                                        <div class="card border-success mb-3">
                                            <form method="POST" enctype="multipart/form-data" >
                                            {% csrf_token %}
                                            <div class="card-header bg-transparent border-success ">
                                                {{file_form}}
                                            </div>
                                            <div class="card-body ">
                                                {{status_form}}
                                            </div>
                                            <div class="card-footer bg-transparent border-success">
                                                <input type="submit" name="cond_tax" value="Caricamento" />
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row">
                                    {%if bank_req.cond_tax.all|length > 2 %}
                                            {% file_table  bonus_id=id modal_target='cond_tax' %}
                                    {%else%}
                                    {%for file in bank_req.cond_tax.all %}
                                            {% edit_task  file_id=file.id bonus_id=id modal_target='cond_tax' %}
                                    {%endfor%}
                                    {%endif%}
                                    {% file_modal modal_id='cond_tax' %}
                                </div>
                                {%endif%}

                            </div>
                            <div class="tab-pane fade" id="pills-1-3" role="tabpanel" aria-labelledby="pills-1-3-tab">

                                <h4>Visure catastali</h4>
                                {%if not bank_req.cat_plan %}


                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="cat_plan" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}



                                {%endif%}
                            </div>
                            <div class="tab-pane fade" id="pills-1-4" role="tabpanel" aria-labelledby="pills-1-4-tab">
                                <h4>Tabella millesimi</h4>
                                {%if not bank_req.thousand_table %}

                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            <hr>
                                            {{status_form}}
                                            <input type="submit" name="thousand_table" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}



                                {%endif%}

                            </div>
                            <div class="tab-pane fade" id="pills-1-5" role="tabpanel" aria-labelledby="pills-1-5-tab">

                                <h4>Registro anagrafe condominiale</h4>
                                {%if not bank_req.cond_registry %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="cond_registry" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}


                            </div>
                            <div class="tab-pane fade" id="pills-1-6" role="tabpanel" aria-labelledby="pills-1-6-tab">

                            <h4>Atto notorio (Format A1a)</h4>
                                {%if not bank_req.notary_act_a %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="notary_act_a" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}

                            <h4>Atto di nomina amministratore</h4>
                                {%if not bank_req.app_of_admin %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="app_of_admin" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}

                            <h4>Documenti identità amministratore (1.1)</h4>
                                {%if not bank_req.admin_id %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="admin_id" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}
                            <h4>Tabella millesimi (1.4)</h4>
                                {%if not bank_req.thousand_table %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="thousand_table" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}

                            <h4>Certificato codice fiscale Condominio (1.2)</h4>
                                {%if not bank_req.cond_tax %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="cond_tax" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}

                            </div>
                            <div class="tab-pane fade" id="pills-1-7" role="tabpanel" aria-labelledby="pills-1-7-tab">
                                <h4>Atto notorio (Format A1b)</h4>
                                {%if not bank_req.notary_act_b %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="notary_act_b" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}

                                  <h4>Carta d'identità Condomino</h4>
                                {%if not bank_req.id_card_condo %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="id_card_condo" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}

                                  <h4>Tessera sanitaria Condomino</h4>
                                {%if not bank_req.hic_condo %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="hic_condo" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}

                                  <h4>Titolo giuridico detenzione (per casi diversi da proprietà o diritto reale di godimento) (1.10-1.11-1.12-1.13)</h4>
                                {%if not bank_req.leg_title_proc %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="leg_title_proc" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}

                                  <h4>Consenso esecuzione lavori da parte del proprietario (Locazione/Comodato) (1.10)</h4>
                                {%if not bank_req.cons_for_exe %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="cons_for_exe" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}

                                  <h4>Visura catastale unità immobiliare (1.3)</h4>
                                {%if not bank_req.cat_plan %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="cat_plan" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}


                            </div>
                            <div class="tab-pane fade" id="pills-1-8" role="tabpanel" aria-labelledby="pills-1-8-tab">

                            <h4>Atto proprietà/compravendita (se Proprietario/Nudo Proprietario)</h4>
                                {%if not bank_req.deed_of_owner_purch %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="deed_of_owner_purch" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}

                            </div>
                            <div class="tab-pane fade" id="pills-1-9" role="tabpanel" aria-labelledby="pills-1-9-tab">

                            <h4> Certificato detenzione diritto reale di godimento (es. Usufrutto)</h4>
                                {%if not bank_req.cert_poss_real_right_enjoy %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="cert_poss_real_right_enjoy" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}

                            </div>
                            <div class="tab-pane fade" id="pills-1-10" role="tabpanel" aria-labelledby="pills-1-10-tab">

                                  <h4> Dichiarazione consenso da parte del proprietario</h4>
                                {%if not bank_req.declaration_con_owner %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="declaration_con_owner" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}


                                  <h4> Contratto certificante la corretta registrazione</h4>
                                {%if not bank_req.contract_cert_cor_reg %}
                                <div class="input-container">
                                    <form method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="form-group ">
                                            {{file_form}}
                                            {{status_form}}
                                            <input type="submit" name="contract_cert_cor_reg" value="UPLOAD" />
                                        </div>
                                    </form>
                                </div>
                                {% else %}

                                {%endif%}

                            </div>
                            <div class="tab-pane fade" id="pills-1-11" role="tabpanel" aria-labelledby="pills-1-11-tab">1-11</div>
                            <div class="tab-pane fade" id="pills-1-12" role="tabpanel" aria-labelledby="pills-1-12-tab">1-12</div>
                            <div class="tab-pane fade" id="pills-1-13" role="tabpanel" aria-labelledby="pills-1-13-tab">1-13</div>
                            <div class="tab-pane fade" id="pills-1-14" role="tabpanel" aria-labelledby="pills-1-14-tab">1-14</div>
                            <div class="tab-pane fade" id="pills-1-15" role="tabpanel" aria-labelledby="pills-1-15-tab">1-15</div>
                            <div class="tab-pane fade" id="pills-1-16" role="tabpanel" aria-labelledby="pills-1-16-tab">1-16</div>
                            <div class="tab-pane fade" id="pills-1-17" role="tabpanel" aria-labelledby="pills-1-17-tab">1-17</div>
                            <div class="tab-pane fade" id="pills-1-18" role="tabpanel" aria-labelledby="pills-1-18-tab">1-18</div>
                            <div class="tab-pane fade" id="pills-1-19" role="tabpanel" aria-labelledby="pills-1-19-tab">1-19</div>
                            <div class="tab-pane fade" id="pills-1-20" role="tabpanel" aria-labelledby="pills-1-20-tab">1-20</div>
                            <div class="tab-pane fade" id="pills-1-21" role="tabpanel" aria-labelledby="pills-1-21-tab">1-21</div>
                            <div class="tab-pane fade" id="pills-1-22" role="tabpanel" aria-labelledby="pills-1-22-tab">1-22</div>
                            <div class="tab-pane fade" id="pills-1-23" role="tabpanel" aria-labelledby="pills-1-23-tab">1-23</div>
                            <div class="tab-pane fade" id="pills-1-24" role="tabpanel" aria-labelledby="pills-1-24-tab">1-24</div>
                            <div class="tab-pane fade" id="pills-2-1" role="tabpanel" aria-labelledby="pills-2-1-tab">2-1</div>
                            <div class="tab-pane fade" id="pills-2-2" role="tabpanel" aria-labelledby="pills-2-2-tab">2-2</div>
                            <div class="tab-pane fade" id="pills-3-1" role="tabpanel" aria-labelledby="pills-3-1-tab">3-1</div>
                            <div class="tab-pane fade" id="pills-3-2" role="tabpanel" aria-labelledby="pills-3-2-tab">3-2</div>
                            <div class="tab-pane fade" id="pills-3-3" role="tabpanel" aria-labelledby="pills-3-3-tab">3-3</div>


                        </div>

                    </div>

                </div>



            </div>
        </div>
    </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/pages/bank-req.js"></script>

{% endblock javascripts %}