{% extends "layouts/base.html" %}

{% block title %}Super Bonus Form{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load my_tags %}
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container ml-1">
        <div class="row " >
            <div class="col-md-3 col-lg-3 pr-0">
                <div class="pcoded-content pr-0">

                    <div class="row pr-0">
                        <div class="col">
                            <div class="card {%if not bonus.interventions_id%}alert-danger{%elif bonus.interventions_id%}alert-success{%endif%}" role="alert">
                                <div class="card-header">
                                    <a href="{% url 'bonus-add-intervention' id=id%}"><h4 class="text-center">INTERVENTI EFFETTUATI</h4></a>
                                </div>
<!--                                <div class="card-body">-->
<!--                                   <div class="progress">-->
<!--                                       {%if not bonus.interventions_id%}-->
<!--                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                       {%elif bonus.interventions_id%}-->
<!--                                       {% progressbar obj=bonus.interventions %}-->
<!--                                       {%endif%}-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row  pr-0">
                        <div class="col">
                            <div class="card {%if not bonus.catastal_id%}alert-danger{%elif bonus.catastal_id%}alert-success{%endif%}" role="alert">
                                <div class="card-header">
                                    <a href="{% url 'bonus-catastal' id=id%}"><h4 class="text-center">CATASTALI</h4></a>
                                </div>
<!--                                <div class="card-body">-->
<!--                                   <div class="progress">-->
<!--                                       {%if not bonus.catastal_id%}-->
<!--                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                       {%elif bonus.catastal_id%}-->
<!--                                       {% progressbar obj=bonus.catastal %}-->
<!--                                       {%endif%}-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row  pr-0">
                       <div class="col">
                            <div class="card {%if not bonus.beneficiary_id%}alert-danger{%elif bonus.beneficiary_id%}alert-success{%endif%} " role="alert">
                                <div class="card-header">
                                    <a href="{% url 'bonus-beneficiary' id=id%}"><h4 class="text-center">DETTAGLIO DEI BENEFICIARI</h4></a>
                                </div>
<!--                                <div class="card-body">-->
<!--                                   <div class="progress">-->
<!--                                       {%if not bonus.beneficiary_id%}-->
<!--                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                       {%elif bonus.beneficiary_id%}-->
<!--                                       {% progressbar obj=bonus.beneficiary %}-->
<!--                                       {%endif%}-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row  pr-0">
                        <div class="col">
                            <div class="card {%if  not bonus.overall_interventions %} alert-danger {%elif bonus.overall_interventions and bonus.driving_interventions and bonus.trailed_interventions%}alert-success{%else%}alert-warning{%endif%}" role="alert">
                                <div class="card-header">
                                    <a href="{% url 'bonus-costs' id=id type='overall' %}"><h4 class="text-center">SINTESI CONTRATTO CLIENTE</h4></a>
                                </div>
<!--                                <div class="card-body">-->
<!--                                    <div class="progress">-->
<!--                                         {%if not bonus.overall_interventions%}-->
<!--                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                            {%elif bonus.overall_interventions and bonus.driving_interventions or bonus.trailed_interventions%}-->
<!--                                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                            {%else%}-->
<!--                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                            {%endif%}-->
<!--                                    </div>-->
<!--                                </div>-->
                             </div>
                        </div>
                    </div>
                    <div class="row  pr-0">
                       <div class="col">
                            <div class="card {%if not bonus.professionals%}alert-danger{%elif bonus.professionals %}alert-success{%endif%}" role="alert">
                                <div class="card-header">
                                    <a href="{% url 'bonus-professional' id=id  %}"><h4 class="text-center" >INCARICHI PROFESSIONALI<br></h4></a>
                                </div>
<!--                                <div class="card-body">-->
<!--                                   <div class="progress">-->
<!--                                       {%if not bonus.professionals%}-->
<!--                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                       {%elif bonus.professionals%}-->
<!--                                       {% progressbar obj=bonus.professionals %}-->
<!--                                       {%endif%}-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row  pr-0">
                    {%if type == 'condo'%}
                        <div class="col">
                        <div class="card {%if not bonus.admin_legal and not bonus.admin_individual%}alert-danger{%else%}alert-success{%endif%}">
                            <div class="card-header">
                                <a href="{% url 'bonus-administrator' id=id  %}"><h4 class="text-center">ADMINISTRATORE<br></h4></a>
                            </div>
                            <div class="card-body">
                               <div class="progress">
                                   {%if  not bonus.admin_legal and not bonus.admin_individual%}
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                   {%elif bonus.admin_legal%}
                                   {% progressbar obj=bonus.admin_legal %}
                                   {%elif bonus.admin_individual%}
                                   {% progressbar obj=bonus.admin_individual %}
                                   {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-9 pl-0">
                <div class="pcoded-content">
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">SUPERBONUS</h5>
                                    </div>
                                    <nav aria-label="breadcrumb">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'home'%}"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item " aria-current="page" ><a class="breadcrumb-item " href="{% url 'bonus-app-view' %}">SUPERBONUS</a></li>
                                            <li class="breadcrumb-item active" aria-current="page" ><a class="breadcrumb-item active" href="">ANTEPRIMA</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- [ form-element ] start -->
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <div class="card table-card">
                                <div class="card-header">
                                    <h4>Dettagli dell'immobile</h4>
                                    <div id='progress-contract' class="progress bg-light border border-secondary">
                                        {% progressbar obj=bonus %}
                                    </div>
                                    <label for="progress-contract" class="text-muted"> avanzamento del contratto</label>
                                    {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}

                                            <a href="{% url 'bonus-preview' id=id %}">
                                             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                 <span aria-hidden="true">&times;</span>
                                            </button>
                                            </a>
                                </div>
                                        {%endfor%}
                                    {% endif %}
                                <div class="card-header-right">
                                        <div class="btn-group card-option">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-more-horizontal"></i>
                                            </button>
                                            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                                <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                                <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <form action="" class="form-group" method="post">
                                        {% csrf_token %}
                                            <div></div>
                                            <table>
                                            {{form}}
                                            </table>
                                             <div class="input-group">
                                                <input class="btn btn-warning m-1" type="submit" value="Modificare" />
                                                 <div class="input-group-prepend">
                                                    {%if type == 'villa'%}
                                                    <a href="{% url 'bonus-delete' type='villa' id=id %}"><button class="btn btn-danger m-1" onclick="return confirm('Sei sicuro?')">Eliminare</button></a>
                                                    {%elif type == 'condo'%}
                                                         <a href="{% url 'bonus-delete' type='condo' id=id %}"><button class="btn btn-danger m-1" onclick="return confirm('Sei sicuro?')">Eliminare</button></a>
                                                    {%endif%}
                                                </div>
                                             </div>
                                        </form>
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <div class="ml-0 ">
                                        <button type="button" class="btn  btn-primary">Generate Contract</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">

                            <div class="card table-card ">
                                <div class="card-header mw-100 pr-0">
                                    <a href="{% url 'bank-requirements' id=id %}"><h3 class="text-center">MENU</h3></a>
                                </div>
                                <div class="card-body">
                                    <a href="{% url 'bank-requirements' id=id %}"><h4 class="text-center">ISTRUZIONE PRATICA: {{bonus.bank_id.name}}</h4></a>
                                </div>
                                <div class="card-footer">
                                    <div  class="progress bg-light border border-secondary">
                                            {% progressbar_bank obj=bank %}
                                    </div>
                                </div>

                            </div>

                        </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!--  <script src="/static/assets/js/pages/bonus.js"></script>-->
{% endblock javascripts %}