{% extends "layouts/base.html" %}

{% block title %} Form Elements {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Bonus Faccata</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="bonus_faccata.html">DATA OF THE CONDOMINIUM</a></li>
                            <li class="breadcrumb-item"><a href="bonus_faccata_legal.html#">DATA ADMINISTRATOR LEGAL </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ form-element ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Basic Component</h5>
                    </div>
                    <div class="card-body">
                        <h5>Form controls</h5>
                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <form action="/bonus_faccata_legal.html" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="company_name">DENOMINAZIONE SOCIETA'</label>
                                        {{forms.company_name}}
                                        <small>indicazione riportata enlla visura camerale</small>
                                    </div>

                                     <div class="form-group">
                                        <label for="province">PROVINCIA/E ISCRIZIONE REGISTRO IMPRESE</label>
                                        {{forms.province}}
                                        <small>riportare la provincia o le provincie nel caso in cui il Registro Imprese comprenda più province</small>
                                    </div>

                                     <div class="form-group">
                                        <label for="company_reg_num">ISCRIZIONE REGISTRO IMPRESE</label>
                                        {{forms.company_reg_num}}
                                    </div>

                                     <div class="form-group">
                                        <label for="vat_number">N° ISCRIZIONE REGISTRO IMPRESE - PARTITA IVA - C.F.</label>
                                        {{forms.vat_number}}
                                    </div>
                                     <div class="form-group">
                                        <label for="street">VIA SEDE LEGALEe</label>
                                        {{forms.street}}
                                    </div>

                                     <div class="form-group">
                                        <label for="street_number">NUMERO SEDE LEGALE</label>
                                        {{forms.street_number}}
                                    </div>

                                     <div class="form-group">
                                        <label for="cap">CAP SEDE LEGALE</label>
                                        {{forms.cap}}
                                    </div>

                                     <div class="form-group">
                                        <label for="municipal_reg_office">COMUNE SEDE LEGALE</label>
                                        {{forms.municipal_reg_office}}
                                    </div>

                                     <div class="form-group">
                                        <label for="province_reg_office">PROVINCIA SEDE LEGALE</label>
                                        {{forms.province_reg_office}}
                                    </div>

                                     <div class="form-group">
                                        <label for="legal_title_rep">TITOLO LEGALE RAPPRESENTATE</label>
                                        {{forms.legal_title_rep}}
                                        <small>SIG./SIG.RA/GEOM./RAG./ING./ARCH/ALTRO</small>
                                    </div>

                                     <div class="form-group">
                                        <label for="leg_rep_name">NOME LEGALE RAPPRESENTANTE</label>
                                        {{forms.leg_rep_name}}
                                    </div>

                                     <div class="form-group">
                                        <label for="leg_rep_surname">COGNOME LEGALE RAPPRESENTANTE</label>
                                        {{forms.leg_rep_surname}}
                                    </div>

                                     <div class="form-group">
                                        <label for="leg_rep_tax_code">CODICE FISCALE LEGALE RAPPRESENTATE</label>
                                        {{forms.leg_rep_tax_code}}
                                    </div>

                                     <div class="form-group">
                                        <label for="leg_rep_dob">DATA DI NASCITA LEGALE RAPPRESENTANTE</label>
                                        {{forms.leg_rep_dob}}
                                    </div>

                                     <div class="form-group">
                                        <label for="municipal_of_birth_of_leg">COMUNE DI NASCITA DEL LEGALE RAPPRESENTANTE</label>
                                        {{forms.municipal_of_birth_of_leg}}
                                    </div>

                                     <div class="form-group">
                                        <label for="province_of_birth_of_leg">PROVINCIA DI NASCITA DEL LEGALE RAPPRESENTANTE</label>
                                        {{forms.province_of_birth_of_leg}}
                                    </div>

                                     <div class="form-group">
                                        <label for="legal_street">VIA RESIDENZA LEGALE RAPPRESENTANTE</label>
                                        {{forms.legal_street}}
                                    </div>

                                     <div class="form-group">
                                        <label for="legal_street_number">NUMERO RESIDENZA LEGALE RAPPRESENTANTE</label>
                                        {{forms.legal_street_number}}
                                    </div>

                                     <div class="form-group">
                                        <label for="cap_legal">CAP RESIDENZA LEGALE RAPPRESENTANTE</label>
                                        {{forms.cap_legal}}
                                    </div>

                                     <div class="form-group">
                                        <label for="municipal_of_leg_residence">COMUNE DI RESIDENZA LEGALE RAPPRESENTANTE</label>
                                        {{forms.municipal_of_leg_residence}}
                                    </div>

                                     <div class="form-group">
                                        <label for="province_of_leg_residence">PROVINCIA DI RESIDENZA LEGALE RAPPRESENTANTE</label>
                                        {{forms.province_of_leg_residence}}
                                    </div>



                                    <button type="submit" class="btn  btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 {% endblock content %}

                            <!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}