{% extends "layouts/base.html" %}

{% block title %} Form Elements {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">DATA ADMINISTRATOR INDIVIDUAL</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="bonus_faccata.html">DATA OF THE CONDOMINIUM</a></li>
                            <li class="breadcrumb-item"><a href="bonus_faccata_legal.html#">DATA ADMINISTRATOR INDIVIDUAL </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ form-element ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Basic Component</h5>
                    </div>
                    <div class="card-body">
                        <h5>Form controls</h5>
                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <form action="/bonus_faccata_legal.html" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="company_name">Company Name</label>
                                        {{forms}}

                                    </div>

                                        <div class="form-group">
                                            {{form_id}}
                                        </div>

                                    <button type="submit" class="btn  btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 {% endblock content %}

                            <!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}