{% extends "layouts/base.html" %}

{% block title %}Super Bonus Form{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Super Bonus</h5>
                            </div>
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home'%}"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item " aria-current="page" ><a class="breadcrumb-item " href="{% url 'bonus-app-view' %}">SUPER BONUS</a></li>
                                    <li class="breadcrumb-item active" aria-current="page" ><a class="breadcrumb-item active" href="">ANTEPRIMA</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="card table-card">
                        <div class="card-header">
                            <h4>Table of Super Bonus Application</h4>
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}

                                    <a href="{% url 'bonus-preview' id=id %}">
                                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                         <span aria-hidden="true">&times;</span>
                                    </button>
                                    </a>
                                </div>
                                {%endfor%}
                            {% endif %}
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="m-2 p-2">
                                {%if not request.POST%}

                                <form action="" class="" method="post">
                                {% csrf_token %}
                                    <div></div>
                                    <table>
                                    {{form}}
                                    </table>
                                    <input class="btn btn-warning m-1" type="submit" value="Edit" />
                                </form>
                                {%endif%}
                                {%if not table.vat_number%}
                                <a href="{% url 'bonus-delete' type='villa' id=id %}"><button class="btn btn-danger m-1">Delete</button></a>
                                {%endif%}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="card table-card">
                        <div class="card-header">
                            <div class="progress">
                                <h5>Progress bar</h5>
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="ml-4 ">
                                <button type="button" class="btn  btn-primary">Generate Contract</button>
                            </div>

                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">

                    <div class="card {%if not bonus.interventions_id%}alert-danger{%elif bonus.interventions_id%}alert-success{%endif%}">
                        <div class="card-header">
                            <a href="{% url 'bonus-add-intervention' id=id%}"><h4>INTERVENTI EFFETTUATI</h4></a>
                        </div>
                        <div class="card-body">
                           <div class="progress">
                               {%if not bonus.interventions_id%}
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                               {%elif bonus.interventions_id%}
                               <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                               {%endif%}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4">

                    <div class="card {%if not bonus.catastal_id%}alert-danger{%elif bonus.catastal_id%}alert-success{%endif%}">
                        <div class="card-header">
                            <a href="{% url 'bonus-catastal' id=id%}"><h4>DATA CATASTALI</h4></a><br>
                        </div>
                        <div class="card-body">
                           <div class="progress">
                               {%if not bonus.catastal_id%}
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                               {%elif bonus.catastal_id%}
                               <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                               {%endif%}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4">

                    <div class="card {%if not bonus.beneficiary_id%}alert-danger{%elif bonus.beneficiary_id%}alert-success{%endif%}">
                        <div class="card-header">
                            <a href="{% url 'bonus-beneficiary' id=id%}"><h4>DETTAGLIO DEI BENEFICIARI</h4></a>
                        </div>
                        <div class="card-body">
                           <div class="progress">
                               {%if not bonus.beneficiary_id%}
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                               {%elif bonus.beneficiary_id%}
                               <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                               {%endif%}

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-4 col-md-5 col-lg-5">

                    <div class="card {%if  not bonus.overall_interventions %} alert-danger {%elif bonus.overall_interventions and bonus.driving_interventions and bonus.trailed_interventions%}alert-success{%else%}alert-warning{%endif%}">
                        <div class="card-header">
                            <a href="{% url 'bonus-costs' id=id type='overall' %}"><h4>SINTESI CONTRATTO CLIENTE</h4></a>
                        </div>
                        <div class="card-body">
                           <div class="progress">
                               {%if not bonus.overall_interventions%}
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                               {%elif bonus.overall_interventions and bonus.driving_interventions or bonus.trailed_interventions%}
                               <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                               {%else%}
                               <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                               {%endif%}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-5 col-lg-5">

                    <div class="card {%if not bonus.professionals%}alert-danger{%elif bonus.professionals %}alert-success{%endif%}">
                        <div class="card-header">
                            <a href="{% url 'bonus-professional' id=id  %}"><h4>INCARICHI PROFESSIONALI</h4></a>
                        </div>
                        <div class="card-body">
                           <div class="progress">
                               {%if not bonus.professionals%}
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                               {%elif bonus.professionals%}
                               <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                               {%endif%}

                            </div>
                        </div>
                    </div>
                </div>



            </div>


        </div>
      </div>
    </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!--  <script src="/static/assets/js/pages/bonus.js"></script>-->
{% endblock javascripts %}