{% extends "layouts/base.html" %}

{% block title %}Super Bonus Form{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Super Bonus</h5>
                            </div>
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home'%}"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item " aria-current="page" ><a class="breadcrumb-item " href="{% url 'bonus-app-view' %}">SUPER BONUS</a></li>
                                    <li class="breadcrumb-item " aria-current="page" ><a class="breadcrumb-item " href="{% url 'bonus-preview' id=id%}">ANTEPRIMA</a></li>
                                    <li class="breadcrumb-item active" aria-current="page" ><a class="breadcrumb-item active" href="">INTERVENTO</a></li>
                                </ul>
                            </nav>
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    {% if bonus.bonus_villa_id%}
                                    <li class="breadcrumb-item {%if type == 'overall' %}active{%endif%}" aria-current="page" ><a class="breadcrumb-item {%if type == 'overall' %}active{%endif%}" href="{% url 'bonus-costs' id=bonus.id type='overall'%}">SITUAZIONE COMPLESSIVA DELL'INTERVENTO</a></li>
                                    <li class="breadcrumb-item {%if type == 'driving' %}active{%endif%}" aria-current="page" ><a class="breadcrumb-item {%if type == 'driving' %}active{%endif%}" href="{% url 'bonus-costs' id=bonus.id type='driving'%}">DETTAGLIO INTERVENTO LAVORI TRAINANTI</a></li>
                                    <li class="breadcrumb-item {%if type == 'trailed' %}active{%endif%}" aria-current="page" ><a class="breadcrumb-item {%if type == 'trailed' %}active{%endif%}" href="{% url 'bonus-costs' id=bonus.id type='trailed'%}">DETTAGLIO INTERVENTO LAVORI TRAINATI</a></li>
                                    {%elif bonus.bonus_condo_id%}
                                    <li class="breadcrumb-item {%if type == 'overall' %}active{%endif%}" aria-current="page" ><a class="breadcrumb-item {%if type == 'overall' %}active{%endif%}" href="{% url 'bonus-costs' id=bonus.id type='overall'%}">SITUAZIONE COMPLESSIVA DELL'INTERVENTO</a></li>
                                    <li class="breadcrumb-item {%if type == 'common' %}active{%endif%}" aria-current="page" ><a class="breadcrumb-item {%if type == 'common' %}active{%endif%}" href="{% url 'bonus-costs' id=bonus.id type='common'%}">DETTAGLIO INTERVENTO LAVORI COMUNI</a></li>
                                    <li class="breadcrumb-item {%if type == 'subjective' %}active{%endif%}" aria-current="page" ><a class="breadcrumb-item {%if type == 'subjective' %}active{%endif%}" href="{% url 'bonus-costs' id=bonus.id type='subjective'%}">DETTAGLIO INTERVENTO LAVORI SOGGETTIVI</a></li>
                                    {%endif%}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card table-card">
                        <div class="card-header">
                            <h4>SITUAZIONE COMPLESSIVA DELL'INTERVENTO</h4>
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}
                                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                         <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {%endfor%}
                            {% endif %}
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                                <table class="table table-bordered">
                                  <thead>
                                    <tr>

                                      <th scope="col">IMPORTO COMPLESSIVO IVA INCLUSA €</th>
                                      <th scope="col">IMPORTO DELLO SCONTO IN FATTURA APPLICATO €</th>
                                      <th scope="col">IMPORTO DELLA DETRAZIONE MATURATA €</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>

                                       {%if type == 'overall' and bonus.bonus_villa_id %}
                                          <td>{{bonus.bonus_villa.overall_interventions.report.total_amt_inc_vat}}</td>
                                          <td>{{bonus.bonus_villa.overall_interventions.report.amt_discount_applied}}</td>
                                          <td>{{bonus.bonus_villa.overall_interventions.report.amt_deduction_accrued}}</td>
                                        {%elif type == 'overall' and bonus.bonus_condo_id %}
                                          <td>{{bonus.bonus_condo.overall_interventions.report.total_amt_inc_vat}}</td>
                                          <td>{{bonus.bonus_condo.overall_interventions.report.amt_discount_applied}}</td>
                                          <td>{{bonus.bonus_condo.overall_interventions.report.amt_deduction_accrued}}</td>
                                        {%elif type == 'driving'  %}
                                          <td>{{bonus.bonus_villa.driving_interventions.report.total_amt_inc_vat}}</td>
                                          <td>{{bonus.bonus_villa.driving_interventions.report.amt_discount_applied}}</td>
                                          <td>{{bonus.bonus_villa.driving_interventions.report.amt_deduction_accrued}}</td>
                                        {%elif type == 'trailed' %}
                                          <td>{{bonus.bonus_villa.trailed_interventions.report.total_amt_inc_vat}}</td>
                                          <td>{{bonus.bonus_villa.trailed_interventions.report.amt_discount_applied}}</td>
                                          <td>{{bonus.bonus_villa.trailed_interventions.report.amt_deduction_accrued}}</td>
                                        {%elif type == 'common' %}
                                          <td>{{bonus.bonus_condo.common_interventions.report.total_amt_inc_vat}}</td>
                                          <td>{{bonus.bonus_condo.common_interventions.report.amt_discount_applied}}</td>
                                          <td>{{bonus.bonus_condo.common_interventions.report.amt_deduction_accrued}}</td>
                                        {%elif type == 'subjective' %}
                                          <td>{{bonus.bonus_condo.subjective_interventions.report.total_amt_inc_vat}}</td>
                                          <td>{{bonus.bonus_condo.subjective_interventions.report.amt_discount_applied}}</td>
                                          <td>{{bonus.bonus_condo.subjective_interventions.report.amt_deduction_accrued}}</td>
                                        {%endif%}

                                    </tr>
                                  </tbody>

                                </table>

                                <div class="m-3">
                                    {%if type == 'overall' and bonus.bonus_villa_id%}
                                        <a href="{% url 'add-bonus-costs' id=bonus.id type=type%}"><button type="btn" class="btn  btn-primary">Add New</button></a>
                                        <a href="{% url 'edit-bonus-costs' id=bonus.id type=type%}"><button type="btn" class="btn  btn-primary">Edit</button></a>
                                    {%elif type == 'overall' and bonus.bonus_condo_id%}
                                        <a href="{% url 'add-bonus-costs' id=bonus.id type=type%}"><button type="btn" class="btn  btn-primary">Add New</button></a>
                                        <a href="{% url 'edit-bonus-costs' id=bonus.id type=type%}"><button type="btn" class="btn  btn-primary">Edit</button></a>
                                    {%elif type == 'driving' %}
                                        <a href="{% url 'add-bonus-costs' id=bonus.id type=type%}"><button type="btn" class="btn  btn-primary">Add New</button></a>
                                        <a href="{% url 'edit-bonus-costs' id=bonus.id type=type%}"><button type="btn" class="btn  btn-primary">Edit</button></a>
                                    {%elif type == 'trailed' %}
                                        <a href="{% url 'add-bonus-costs' id=bonus.id type=type%}"><button type="btn" class="btn  btn-primary">Add New</button></a>
                                        <a href="{% url 'edit-bonus-costs' id=bonus.id type=type%}"><button type="btn" class="btn  btn-primary">Edit</button></a>
                                    {%elif type == 'common' %}
                                        <a href="{% url 'add-bonus-costs' id=bonus.id type=type%}"><button type="btn" class="btn  btn-primary">Add New</button></a>
                                        <a href="{% url 'edit-bonus-costs' id=bonus.id type=type%}"><button type="btn" class="btn  btn-primary">Edit</button></a>
                                    {%elif type == 'subjective' %}
                                        <a href="{% url 'add-bonus-costs' id=bonus.id type=type%}"><button type="btn" class="btn  btn-primary">Add New</button></a>
                                        <a href="{% url 'edit-bonus-costs' id=bonus.id type=type%}"><button type="btn" class="btn  btn-primary">Edit</button></a>
                                    {%endif%}
                                </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!--  <script src="/static/assets/js/pages/bonus.js"></script>-->
{% endblock javascripts %}