{% extends "layouts/base.html" %}

{% block title %} Super Bonus {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Super Bonus</h5>
                            </div>
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home'%}"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item " aria-current="page" ><a class="breadcrumb-item " href="{% url 'bonus-app-view' %}">SUPER BONUS</a></li>
                                    <li class="breadcrumb-item " aria-current="page" ><a class="breadcrumb-item " href="{% url 'bonus-preview' id=id%}">ANTEPRIMA</a></li>
                                    <li class="breadcrumb-item " aria-current="page" ><a class="breadcrumb-item " href="{% url 'bonus-professional' id=id%}">PROFEESSIONALI</a></li>
                                    <li class="breadcrumb-item active" aria-current="page" ><a class="breadcrumb-item active" href="">INSERISCI PROFEESSIONALI</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ form-element ] start -->
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <div class="card table-card">
                        <div class="card-header">
                            <h4>Table of Available Professionals</h4>
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
<!--                            <div class="tab-content" id="pills-tabContent">-->
<!--                                <div class="tab-pane fade" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">-->

                                    <div class="table-responsive">
                                            {% if messages %}
                                                {% for message in messages %}
                                                <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}


                                                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                         <span aria-hidden="true">&times;</span>
                                                    </button>

                                                </div>
                                                {%endfor%}
                                            {% endif %}
                                        <div class="customer-scroll1" style="height:80vh;position:relative;">
                                             <form action="" method="post">
                                                {% csrf_token %}
                                               <table class="table table-hover m-b-0">
                                                {{form}}
                                               </table>
                                                <button type="submit" class="m-3 btn btn-primary">Save </button>
                                            </form>

                                        </div>
                                    </div>
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="card">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!--  <script src="/static/assets/js/pages/superbonus.js"></script>-->
{% endblock javascripts %}