
{% load my_tags %}
<div class="col-lg-6 col-md-6 col-sm-10">
<div class="card border-success mb-3" >
  <div class="card-header bg-transparent border-success ">
   <a class="" href="{% url 'bank-file-status-edit' id=id file_id=file.id%}"> <button type="button" class="btn btn-outline-{%if status.status == 'UPLOADED' %}info{%elif status.status == 'VERIFIED' %}warning{%elif status.status == 'AUTHORISED' %}success{%endif%} btn-lg btn-block">{%if status.status == 'UPLOADED' %}CARICATO{%elif status.status == 'VERIFIED'%}VERIFICATO{%elif status.status == 'AUTHORISED'%}AUTORIZZATO{%endif%}</button> </a>

  </div>
  <div class="card-body text-success">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">NOME:</span>
        </div>
       <input type="text" class="form-control " value="{{file}}" aria-label="filename" aria-describedby="basic-addon1" readonly>
        <div class="input-group-prepend">
            <a class="input-group-text" href="{% url 'bank-file-edit' id=id file_id=file.id%}">MODIFICARE</a>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">URL:</span>
        </div>
       <input type="text" class="form-control" value="{{file.file.url}}" aria-label="fileurl" aria-describedby="basic-addon1" readonly>
        <div class="input-group-prepend">
            <a class="input-group-text" href="{% url 'bank-file-download' path=file.file.path %}">SCARICA</a>
        </div>

    </div>
  </div>
  <div class="card-footer bg-transparent border-success">
     <a href="{% url 'delete-bank-file' id=id file_id=file.id %}"><button type="button" onclick="return confirm('Sei sicuro?')" class="btn btn-outline-danger float-left">ELIMINARE</button></a>

      <button  type="button" class="btn btn-outline-info float-right" data-toggle="modal" data-target="#{{modal_target}}" >INSERISCI</button>

  </div>
</div>
</div>



