{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">


                <!-- Customer overview start -->
                <div class="col-lg-12">
                    <div class="card table-card">
                        <div class="card-header">
                            <h5>Campaign monitor</h5>
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                    </ul>

                                </div>
                            </div>

                                <ul class="nav nav-pills nav-fill mt-3 border-bottom pb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-form-tab" data-toggle="pill" href="#pills-form" role="tab" aria-controls="pills-form" aria-selected="true"><i class="feather icon-file-text m-r-5"></i>Forme popolate</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-cond-tab" data-toggle="pill" href="#pills-cond" role="tab" aria-controls="pills-cond-tab" aria-selected="false"><i class="feather icon-file-text m-r-5"></i>Condominio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-individ-tab" data-toggle="pill" href="#pills-individ" role="tab" aria-controls="pills-individ" aria-selected="false"><i class="feather icon-file-text m-r-5"></i>Fisca </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-flegal-tab" data-toggle="pill" href="#pills-flegal" role="tab" aria-controls="pills-flegal" aria-selected="false"><i class="feather icon-file-text m-r-5"></i>Giuridica</a>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link" id="pills-catast-tab" data-toggle="pill" href="#pills-catast" role="tab" aria-controls="pills-catast" aria-selected="false"><i class="feather icon-file-text m-r-5"></i>Catastali</a>
                                    </li>
                                </ul>

                        </div>
                        <div class="card-body p-0">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-form" role="tabpanel" aria-labelledby="pills-form-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll" style="height:420px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th><span>ID modulo</span></th>
                                                        <th><span>CONDOMINIO <a class="help" data-toggle="popover" title="ID" data-content="Identificativo modulo condominiale"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>AMMINISTRATORE PERSONA FISICA<a class="help" data-toggle="popover" title="ID" data-content=""><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>AMMINISTRATORE PERSONA GIURIDICA<a class="help" data-toggle="popover" title="ID" data-content=""><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>CATASTALI<a class="help" data-toggle="popover" title="ID" data-content=""><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                 {%for form in fform%}
                                                    <tr>
                                                            {%if form.id%}
                                                            <td>{{form.id}}</td>
                                                            {%else%}
                                                            <td> - </td>
                                                            {%endif%}
                                                            {%if form.condominium_id%}
                                                            <td><a href="{% url 'condtable' id=form.condominium_id %}" > {{form.condominium_id}}</a></td>
                                                            {%else%}
                                                            <td> - </td>
                                                            {%endif%}
                                                            {%if form.admin_individual_id%}
                                                            <td><a href="{% url 'individtable' id=form.admin_individual_id %}" >{{form.admin_individual_id}}</a></td>
                                                            {%else%}
                                                            <td> - </td>
                                                            {%endif%}
                                                            {%if form.admin_legal_id%}
                                                            <td><a href="{% url 'legaltable' id=form.admin_legal_id %}" >{{form.admin_legal_id}}</a></td>
                                                            {%else%}
                                                            <td> - </td>
                                                            {%endif%}
                                                            {%if form.catastal_id%}
                                                            <td><a href="{% url 'catasttable' id=form.catastal_id %}" >{{form.catastal_id}}</a></td>
                                                            {%else%}
                                                            <td> - </td>
                                                            {%endif%}

                                                    </tr>
                                                 {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-cond" role="tabpanel" aria-labelledby="pills-cond-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll1" style="height:420px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th><span>CONDOMINIO ID</span></th>
                                                        <th><span>DENOMINAZIONE<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>VIA/I UBICAZIONE<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>CODICE FISCALE<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>CAP<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>COMUNE UBICAZIONE<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>PROVINCIA<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>MAIL <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>PEC <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>TIPO <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                 {%for form in cform%}
                                                    <tr>
                                                        <td>{{form.id}}</td>
                                                        <td>{{form.name}}</td>
                                                        <td>{{form.fiscal_code}}</td>
                                                        <td>{{form.street}}</td>
                                                        <td>{{form.cap}}</td>
                                                        <td>{{form.municipality}}</td>
                                                        <td>{{form.province}}</td>
                                                        <td>{{form.email}}</td>
                                                        <td>{{form.pec_mail}}</td>
                                                        <td>{{form.select_administrator}}</td>
                                                    </tr>
                                                 {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-individ" role="tabpanel" aria-labelledby="pills-individ-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll2" style="height:420px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th><span>ID</span></th>
                                                        <th><span>TITOLO<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>COGNOME e NOME <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>CODICE FISCALE <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>PARTITA IVA <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>DATA DI NASCITA <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>COMUNE DI NASCITA <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>PROVINCIA DI NASCITA <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>VIA I SEDE ATTIVITA<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>CAP SEDE ATTIVITA<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>COMUNE SEDE ATTIVITA<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>PROVINCIA SEDE ATTIVITA<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>VIA E NUMERO RESIDENZA<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>CAP RESIDENZA<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>COMUNE DI RESIDENZA<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>PROVINCIA DI RESIDENZA<a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {%for form in iform%}
                                                    <tr>
                                                        <td>{{form.id}}</td>
                                                        <td>{{form.title}}</td>
                                                        <td><>{{form.first_name}}</td>
                                                        <td>{{form.fiscal_code}}</td>
                                                        <td>{{form.vat_number}}</td>
                                                        <td>{{form.dob}}</td>
                                                        <td>{{form.birthplace}}</td>
                                                        <td>{{form.birthplace_county}}</td>
                                                        <td>{{form.activity_street}}</td>
                                                        <td>{{form.activity_location_cap}}</td>
                                                        <td>{{form.activity_municipality}}</td>
                                                        <td>{{form.activity_province}}</td>
                                                        <td>{{form.residence_street}}</td>
                                                        <td>{{form.residence_cap}}</td>
                                                        <td>{{form.residence_city}}</td>
                                                        <td>{{form.residence_province}}</td>
                                                    </tr>
                                                 {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-flegal" role="tabpanel" aria-labelledby="pills-flegal-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll3" style="height:420px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th><span>ID</span></th>
                                                        <th><span>DENOMINAZIONE SOCIETA' <a class="help" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>PROVINCIA/E ISCRIZIONE R.I. <a class="help" data-toggle="popover" title="Popover title" data-content="PROVINCIA/E ISCRIZIONE REGISTRO IMPRESE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>N° ISCRIZIONE R.I.<a class="help" data-toggle="popover" title="Popover title" data-content="N° ISCRIZIONE REGISTRO IMPRESE - PARTITA IVA - C.F."><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>VIA E NUMERO S.L.<a class="help" data-toggle="popover" title="Popover title" data-content="AVIA E NUMERO SEDE LEGALE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>CAP S.L.<a class="help" data-toggle="popover" title="Popover title" data-content="CAP SEDE LEGALE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>COMUNE S.L.<a class="help" data-toggle="popover" title="Popover title" data-content="COMUNE SEDE LEGALE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>PROVINCIA S.L. <a class="help" data-toggle="popover" title="Popover title" data-content="PROVINCIA SEDE LEGALE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>TITOLO L.R<a class="help" data-toggle="popover" title="Popover title" data-content="TITOLO LEGALE RAPPRESENTATE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>COGNOME E NOME L.R.<a class="help" data-toggle="popover" title="Popover title" data-content="COGNOME E NOME LEGALE RAPPRESENTANTE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>CODICE FISCALE L.R.<a class="help" data-toggle="popover" title="Popover title" data-content="CODICE FISCALE LEGALE RAPPRESENTATE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>DATA DI NASCITA L.R.<a class="help" data-toggle="popover" title="Popover title" data-content="DATA DI NASCITA LEGALE RAPPRESENTANTE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>COMUNE DI NASCITA DEL L.R.<a class="help" data-toggle="popover" title="Popover title" data-content="COMUNE DI NASCITA DEL LEGALE RAPPRESENTANTE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>PROVINCIA DI NASCITA DEL L.R.<a class="help" data-toggle="popover" title="Popover title" data-content="PROVINCIA DI NASCITA DEL LEGALE RAPPRESENTANTE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>VIA E NUMERO RESIDENZA L.R.<a class="help" data-toggle="popover" title="Popover title" data-content="VIA E NUMERO RESIDENZA LEGALE RAPPRESENTANTE?"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>CAP RESIDENZA L.R.<a class="help" data-toggle="popover" title="Popover title" data-content="CAP RESIDENZA LEGALE RAPPRESENTANTE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>COMUNE DI RESIDENZA L.R.<a class="help" data-toggle="popover" title="Popover title" data-content="COMUNE DI RESIDENZA LEGALE RAPPRESENTANTE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>PROVINCIA DI RESIDENZA L.R.<a class="help" data-toggle="popover" title="Popover title" data-content="PROVINCIA DI RESIDENZA LEGALE RAPPRESENTANTE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {%for form in flform%}
                                                    <tr>
                                                        <td>{{form.id}}</td>
                                                        <td>{{form.company_name}}</td>
                                                        <td>{{form.province}}</td>
                                                        <td>{{form.company_reg_num}}</td>
                                                        <td>{{form.vat_number}}</td>
                                                        <td>{{form.street}}</td>
                                                        <td>{{form.cap}}</td>
                                                        <td>{{form.municipal_reg_office}}</td>
                                                        <td>{{form.province_reg_office}}</td>
                                                        <td>{{form.legal_title_rep}}</td>
                                                        <td>{{form.leg_rep_name}}</td>
                                                        <td>{{form.leg_rep_tax_code}}</td>
                                                        <td>{{form.leg_rep_dob}}</td>
                                                        <td>{{form.municipal_of_birth_of_leg}}</td>
                                                        <td>{{form.province_of_birth_of_leg}}</td>
                                                        <td>{{form.legal_street}}</td>
                                                        <td>{{form.legal_street_number}}</td>
                                                        <td>{{form.cap_legal}}</td>
                                                        <td>{{form.municipal_of_leg_residence}}</td>
                                                        <td>{{form.province_of_leg_residence}}</td>
                                                    </tr>
                                                 {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-catast" role="tabpanel" aria-labelledby="pills-catast-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll3" style="height:420px;position:relative;">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th><span>ID</span></th>
                                                        <th><span>N° FOGLIO C. DI A.<a class="help" data-toggle="popover" title="Popover title" data-content="N° FOGLIO CATASTALE DI APPARTENENZA"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>N° PRIMA PARTICELLA C. IL C.<a class="help" data-toggle="popover" title="Popover title" data-content="N° PRIMA PARTICELLA COSTITUENTE IL CONDOMINIO"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>N° SUBALTERNI A.ALLA PRIMA P.<a class="help" data-toggle="popover" title="Popover title" data-content="N° SUBALTERNI APPARTENTI ALLA PRIMA PARTICELLA"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>N° SECONDA PARTICELLA C. IL C.<a class="help" data-toggle="popover" title="Popover title" data-content="N° SECONDA PARTICELLA COSTITUENTE IL CONDOMINIO"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>N° SUBALTERNI A. ALLA S. P.<a class="help" data-toggle="popover" title="Popover title" data-content="N° SUBALTERNI APPARTENTI ALLA SECONDA PARTICELLA"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>N° TERZA PARTICELLA C. IL C.<a class="help" data-toggle="popover" title="Popover title" data-content="N° TERZA PARTICELLA COSTITUENTE IL CONDOMINIO"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>N° SUBALTERNI A. ALLA T.P.<a class="help" data-toggle="popover" title="Popover title" data-content="N° SUBALTERNI APPARTENTI ALLA TERZA PARTICELLA"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>N° QUARTA PARTICELLA C. IL C.<a class="help" data-toggle="popover" title="Popover title" data-content="PROVINCIA SEDE LEGALE"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>N° SUBALTERNI A. ALLA Q. P.<a class="help" data-toggle="popover" title="Popover title" data-content="N° SUBALTERNI APPARTENTI ALLA QUARTA PARTICELLA"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>DESCRIZIONE SINTETICA DELL'INTERVENTO<a class="help" data-toggle="popover" title="Popover title" data-content="DESCRIZIONE SINTETICA DELL'INTERVENTO"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                        <th><span>DATA ASSEMBLEA CONDOMINIALE<a class="help" data-toggle="popover" title="Popover title" data-content="DATA ASSEMBLEA CONDOMINIALE IN CUI I CONDOMINI HANNO IRREVOCABILMENTE OPTATO PER LO SCONTO IN FATTURA"><i class="feather icon-help-circle f-16"></i></a></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {%for form in ctform%}
                                                    <tr>
                                                        <td>{{form.id}}</td>
                                                        <td>{{form.n_catastal_cheet}}</td>
                                                        <td>{{form.n_first_particle}}</td>
                                                        <td>{{form.n_subscribers_to_first_belonging}}</td>
                                                        <td>{{form.n_second_particle}}</td>
                                                        <td>{{form.n_subscribers_to_second_belonging}}</td>
                                                        <td>{{form.n_third_particle}}</td>
                                                        <td>{{form.n_subscribers_to_third_belonging}}</td>
                                                        <td>{{form.n_fourth_particle}}</td>
                                                        <td>{{form.n_subscribers_to_fourth_belonging}}</td>
                                                        <td>{{form.description_of_intervention}}</td>
                                                        <td>{{form.data_of_condominium_assembly}}</td>

                                                    </tr>
                                                 {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Customer overview end -->
            </div>
            <!-- [ Main Content ] end -->

    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
<!--    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>-->
    <!-- custom-chart js -->
<!--    <script src="/static/assets/js/pages/dashboard-main.js"></script>-->

    <script src="/static/assets/js/plugins/jquery-ui.min.js"></script>

    <script src="/static/assets/js/pages/toggle.js"></script>

{% endblock javascripts %}
